.hero_container {
  position: relative;
  .hero_content {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .image_container {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .hero_image {
      width: 100% !important;
      background-position: top;
      object-fit: cover;
    }
  }
}
